
@media (max-width: 980px) {
   #editors-box  .DraftEditor-roo {
        background-color: #fffef7;
        width:80%;
        margin:auto;
        box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
        height:300px;
        overflow-y: scroll;
        padding:20px;
        font-size: 18px;
        font-family: 'calibri', sans-serif;
    }

    .editor-container {
        padding-top : 50px;

    }

    #editors-box  {
        background-color : #fffef7;
        overflow-y       : auto;  
        padding          : 10px 10px 7px; 
    }

    .draft-editor {
        font-size : 17px;
        border    : px solid blue;
        padding   : 10px 4px;
    }

    .pure-draft-editor {
       margin-top : 40px;
       height    :  100%; 
       bottom    :  0;
       position:  relative;
    }

    .post-draft-editor-box {
        border :  px solid red;
    }

    .post-editor-box {
        margin-top: 45px;
    }

    .navigation-toolbar button {
        overflow      : hidden;
        position      : relative;
        display       : block;
        background    : #fefefe; 
        width         : auto;
        height        : 84%;
        text-align    : center;
        color         : #6A6767;
        margin        : 4px 6px 0;
        border        : px solid red;
    }

    .navigation-toolbar span {
       border    : px solid red;
       font-size : 15px;
       margin-top: 3px;

    }
   
    #fileContainer {
        overflow      : hidden;
        position      : relative;
        display       : block;
        background    : white; 
        width         : auto;
        height        : 80%; 
        text-align    : center;
        color         : #6A6767;
        border        : px solid black;
        margin        : 4px 6px 0;
    }

    #fileContainer [type=file] {
        cursor     : inherit;
        display    : block;
        font-size  : 999px;
        filter     : alpha(opacity=0);
        min-height : 100%;
        min-width  : 100%;
        opacity    : 0 ;
        position   : absolute;
        right      : 0;
        text-align : center;
        top        : 0;
        background: #D5D7D5;
    }

    #fileContainer [type=file] {
        cursor: pointer;
     }

    .options {
        margin-bottom: 20px;
    }

    #modal-navbar-container{
        background : #A33F0B !important;
        width      : 100%;
        margin     : 0;

    }


    .modal-submit-btn-box {
        border  : px solid red;
        padding : 5px 12px;  
    } 


    .modal-custom-back-btn{
        background : #A33F0B !important;
        color: #ffff !important;
        font-size: 14px;
    }

    .modal-close-icon{
        color: #ffff !important;
        font-size: 17px;
    }

    .modal-navbar-box {
        background : #A33F0B !important;
        display: flex; 
    }


    .draft-js-submit-btn {
        border        : 1px solid #A33F0B;
        background    : #ffff;
        color         : #A33F0B; 
        font-size     : 11px;  
        font-family   : 'Play'; 
        font-weight   : bold; 
        float         :  right;
    }

    .hyperlink-form {
        border  : px solid red;
        padding : 6px 8px;
    }

    .hyperlink-box {
        display : flex;
        border  : px solid black;
    }

    .add-link {
        border: 1px solid #D5D7D5;
        margin: 0px 3% 0px;
        display: block;
        background:white; 
        font-size: 10px;
        font-weight: bold;
        font-family: 'Overpass';
        text-align: center;
        line-height: 2;
        color: #6A6767;
    }
    .hyperlink-input  {
        border  : 1PX solid #D5D7D5;
        width   : 100%;
        padding : 4px;
    }

    .hyperlink-input:focus {
        border: 1PX solid #D5D7D5;
        outline: 0px solid transparent;
    }


    #toolbar {
        background    : #F7F7F7;
        border-bottom : 1px solid #D5D7D5;
        min-height    : 40px; 
    }

    .navigation-toolbar{
        display : flex;
        padding : 6px;
        border  : px solid red;
    }

    .toolbar-btn {
        background  :  #F7F7F7 !important;
        border      : px solid red;
    }

    .media-btns, .text-btns{
        display         : flex;  
        font-size       : 13px; 
    }

    .media-btns {
        border : px solid black;
    }

    .text-btns{
        width   : 100%;
        border  : px solid blue;
    }
    

    .textarea-form-field {
        width         : 100%;
        padding       : 10px 10px 0;
        font-weight   : bold;
        font-size     : 14px;
        border-bottom : 0.5px solid #D5D7D5;
    }

    .textarea-form-field:active, .textarea-form-field:focus{
        outline        : 0;
        box-shadow     : none;
        border-bottom  : 1px solid #D5D7D5;
    }
}


