

@import '~material-design-icons/iconfont/material-icons.css';

body {
   margin     : 0;
   margin     : 0;
   padding    : 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    overflow-x : hidden;
    overflow-y : scroll;
    min-height : 100vh;   
   
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


img {
    width      : 100%;
    max-width  : 100%;
    height     : 100%;
    max-height : 100%;
    object-fit : cover;
}

img:hover {
  cursor:pointer;
}

input, textarea {
  border     : none;
  width      : 100%; 
  padding    : 7px;
}

input:focus, input:active{
  border: 1px solid #5384e5;
}


button:focus, button:active {
  outline    : 0px transparent;
  box-shadow : none;
  border     : none;
}



button {
  border      : none;
  box-shadow  : none !important; 
  text-align  : center !important;
  background  : none;
  outline     : 0px transparent white !important;
  cursor      : pointer;
  white-space : nowrap;
  
 }


a {
    color : black;  
}

a:hover, a:hover {
    cursor:pointer;
    color : black;  
}

ul {
  list-style-type : none;
  padding         : 0;
  margin          : 0;   
}

