

 
@media (min-width:980px) {

    .page-contents, #home-page-contents {
        width    : 42%;
        margin   : 25px 29%;
    
    }
    
    #page-error-box, #answer-page,     
    .question-page, .post-page,
    .question-list-page  {
        width    : 42%;
        margin   : 30px 29%; 
        padding-top : 10px;
        border   : 1px solid #D5D7D5; 
        border-radius : 15px;
        z-index  : 500;
        position : relative;
        background : #ffff;
    }
    
    .index-questions, 
    .index-answers, 
    .index-posts, 
    .index-user-list,
    .post-list-page {
        margin   : 15px 0; 
        border   : 1px solid #D5D7D5; 
        border-radius : 10px;
        z-index  : 800;
        position : relative;
    }

    .index-post-contents,
    .index-answer-contents {
        border-bottom : 1px solid #D5D7D5;
        border-width: thin;
        margin-bottom: 10px;
        padding: 10px;
    }

    .answer-container, .question-container, .post-container {
        background : #ffff;
    }

    .question-list-page, .post-list-page ,
    .question-page, .post-page {
        background : #ffff; 
        border     : px solid  #D5D7D5;  
    }

    .answer-list-container
    .answer-contents {
        border-top : 1px solid  #D5D7D5;
    }
    
    .page-error-box {
       padding-top: 5%;
    }

    .empty-question-list-box,
    .empty-post-list-box {
        border    : px solid  red; 
        font-size : 16px;  
        justify-content: center;
        display: flex;
    }  

    .post-list-create-box,
    .question-list-create-box  {
        border    : px solid  red; 
        justify-content: center;
        display : flex;
        margin :15px 0; 
    }

    .post-list-create-box button,
    .question-list-create-box button  {
        border     : px solid  red; 
        width      : 40%;
        background : #A33F0B;
        color      : #fff; 
        font-size  : 13px; 
    }
   
    .post-body {
        width: 100%;
        font-size: 17px;
    }

    .post-title, .question {
        font-size   : 12px;
    }

    .index-items-label {
        border-bottom  :  1px solid #D5D7D5;
        padding        :  14px 15px 0px; 
        color          :  #A33F0B;
        font-family    : 'Cabin'; 
    }

    .answers-count-box {
        margin-bottom: 5px;
        background : #ffff;
    } 
    
    
    .replies-level-1,
    .replies-level-2,
    .replies-level-3,
    .replies-level-4, 
    .replies-level-5 {
        margin-left : 6%; 
    }

    .comment-page {
        border : px solid blue;
    }
 
    .edit-reply-btn,.upvote-comment,
    .edit-answer-btn, .follow-question-btn,
    .upvote-answer, .edit-comment-btn {
        font-family: 'Ubuntu';
        font-size:13px;
        color: #807f7f; 
    }

}
























