.alert-container {
    width         : 100%;
    margin        : auto;
    overflow      : none;
    border-radius : 4px;
    outline       : none;
    height        : auto; 
    bottom        : 0;
    top           : auto; 
    position      : fixed;
    right         : auto;
    left          : auto;
    z-index       : 999;
}


.alert-box {
    justify-content : center;
    display         : flex;
    border          : px solid black;
    margin          : 4px 0; 
}

.alert-message {
    font-size: 14px;
}


.page-spin-loader-box {
    justify-content : center;
    display         : flex;
    margin          : 28px  0; 
}


.unconfirmed-user-warn-box {
    border     : px solid red;
    display    : flex;
    margin     : 10px; 
}

.confirm-account-link button,
.text-highlight {
	color : #558FF0; 
    font-size: 14px;
}

.text-highlight:hover {
	cursor : pointer;
} 


.confirm-account-link {
  	font-size: 13px !important;
}

.author-post-detail-box,
.autor-answer-detail-box {
    display : flex;
    border  : px solid black;
}

.author-details-box,
.author-details {
}

.author-name-box {
   
}

.author-box {
    border  : px solid  #A33F0B; 
    display : flex;
}

.author-img-box {
    border  : px solid blue;
}

.author-name-box {
    font-size   : 10px;
    color       : black;
    font-weight : bold;
    font-family : 'Kanit';
     
}

.time-created {
    font-size : 10px;
    color     : grey;
    font-family : 'Open Sons Condensed';
}

.author-img {
    width  : 25px;
    height : 25px;
}

.author-img a img {
    border : px solid  #D5D7D5;
    border-radius : 50%;
}

.author-img a {
    border: px solid green;
}

.question-container,
.post-container{
    border   : px solid  red;
}


.answer-container {
  border: px solid blue;
  position: relative;
  overflow: hidden;

}

.post-contents,.question-contents {
    background : white;
    border   : px solid  black;
}


.post-box, 
.question-box, 
.answer-box {
    margin-left: 10px;
    margin-right: 10px;
}

.reply-container,
.replies-level-4,
.replies-level-0 {
    border  : px solid black;
    margin-left : 7%;
    margin-top: 5px;

}

.contents-nav-container {
    border  : px solid black;
}

.contents-nav-container button {
    padding : 3px !important;
}

.comment-contents-box,
.replies-container {
    width: 100%;
    word-wrap: break-word;
}

.replies-container {
    border  : px solid black;
}

.comment-container {
    padding-right: 15px;
    word-wrap: break-word;
    margin-left: 10px;
    margin-right: 10px;
}

.comments-title {
    margin:  0 10px 10px;
    font-family : 'Cabin'; 
    border-top : 1px solid #D5D7D5;
    border-width: thin;
}

.comments-loader {
    margin:  0 10px;
    font-family : 'Cabin';
    font-size: 13px;

}

.comments-loader:hover {
    margin:  0 10px;
    cursor: pointer;
    text-decoration: underline;
    
}


.reply-contents, .comment-contents {
    display: flex;
    margin-left: 5px;
    width: 100%;
}

.reply-box, .comment-box {
    border-top-right-radius : 10px;
    border-bottom-right-radius : 10px;
    border-bottom-left-radius : 10px;
    background : #E8E6E6;
    padding : 2px 4px 4px !important;
    margin-left : 2px;
    
}

.reply-body, .comment-body {
    font-size : 13px;
    width : auto;
}

.reply-link-box {
    border : 1px solid blue;
}

.btn-box1 button, .btn-box2 button,
.edit-reply-btn,.upvote-comment,
.edit-answer-btn, .follow-question-btn,
.upvote-answer, .edit-comment-btn {
    font-family: 'Ubuntu';
    font-size:13px;
    color: #807f7f; /* #979797;*/
}

.contents-nav-container {
    border  : px solid blue;
}

.contents-nav-box {
    display : flex; 

}

.contents-nav-box button:hover {
    background: #E8E8E8;
    border-radius: 15px;
}

.btn-box1 button, .btn-box2 button {
    border  : px solid blue;
    margin-top: 3px;
   
}

.modal-editor-btn {
    border: px solid red;
}

.modal-editor-btn span {
    border: px solid blue;
    margin-top : 10px !important; 
}

.btn-box1, .btn-box2 {
    border :  px solid red;
}

.btn-box2 {
	margin: 0 14px;
}

.btn-box3 {
   border : px solid blue;
   width  : 100%;
   display: flex;
   justify-content: flex-end;
   
}

.options-btn {
  border      : px solid black;
  color       : gray; 
  
}

#feather-more-horizontal {
    border : px solid red;
    padding:  0 !important;
}

.items-counter-box {
	display : flex;
}


.items-btn-box:nth-child(2) {
    margin-left: 7%;
    	
}

.items-counter-btn {
    border  :  px solid red;
      
}

.comment-contents .contents-nav-box {
    border  :  px solid black;
}

.items-btn-box button {
    font-family  : 'Mukta';
    color        : grey;  
    font-size    : 10px;
    border  :  px solid blue;
}

.upvote-icon {
	color:  #A33F0B; 
}

.facebook-login {
  background: #3B5998;
     
}

.google-login {
  background: #dd4b39;
}

.google-login-icon {
  color:  #dd4b39;


}

.facebook-login-icon {
  color: #3B5998;
}




#fountainG{
	border          : px solid red;  
	position        : relative;
	justify-content : center;
    display         : flex;  
    width           : 87px;
    margin-left     : 34px;
   
}


.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(163,63,11);
	width:12px;
	height:12px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:9px;
		-o-border-radius:9px;
		-ms-border-radius:9px;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:15px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:30px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:45px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:60px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:75px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:90px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:105px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgba(163,64,11,0.98);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgba(163,64,11,0.98);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgba(163,64,11,0.98);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgba(163,64,11,0.98);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgba(163,64,11,0.98);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}


@media (min-width: 980px) {


    body {
        background : #F6F6F6;
    }

    .app-container{
    }

    .app-box-container {
        padding-top : 57px; 
    }

    .unconfirmed-user-warn-container {
        border      : px solid  red;
        padding-top : 20px;
    }

    .unconfirmed-user-warn-box {
        margin     : 0px 10%;
        justify-content : center;
    }

    .page-spin-loader-box {
        width   : auto;
        margin  : 66px 45% 0; 
    }
       
    .alert-container {
        margin        : 60px 0 0;
        bottom        : auto;
        top           : 0; 
    }

    .alert-box {
        width  : 45%;
        margin : 0px 27.5%;
    }

}


@media (max-width: 980px) {
    body {
        background : #ffff;
    }

    .app-container{
        border: px solid black;
    }

    .app-box-container {
        border     : px solid  red;
        margin-top : 50px; 
        padding-bottom: 100px;
    }
  

    .index-box {
        padding-top     : 150px; 
        border          : 1px solid black;
        justify-content : center;
        display         : flex;
    }
}

